<div class="content">
    <div class="vid-section">
        <div class="vid-info">
            <h1>Delivering Unified Digital Solutions</h1>
            <p>E-Sign is a leading global provider of electronic signature solutions. Our eSignature platform accelerates agreements, eliminates manual tasks, and makes it easy to connect with the tools and systems you’re already using.</p>
        </div>
        <video controls class="video" >
            <source src="../../assets/video/E-Sign-Video.mp4" type="video/mp4">
        </video>
    </div>
    <div class="healthcare">
        <img src="../../assets/brand-logos/nhs-logo.png" alt="NHS Logo" class="nhs-logo">
        <div class="healthcare-info">
            <h1>Digital Solutions for Healthcare</h1>
            <p>E-Sign are proud to serve the NHS with esignature and document management solutions. We currently provide secure software to support patient prescription processing, clinical trials and patient safeguarding.</p>
            <p>By moving away from paper-based processes and embracing digitalisation, the NHS has benefitted from streamlined workflow, improved efficiency, and centralised document management. In a fast-pace setting such as the Healthcare sector, digital administration significantly improves patient care.</p>
            <p>E-Sign provides a comprehensive audit trail, improving compliance and accountability, helping to improve overall patient experience and safety.</p>
        </div>
    </div>
</div>
