.content{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
    margin: 0;
}
.vid-section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}
.vid-info{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.vid-info p {
    width: 90%;
    padding-top: 30px;
}

.video{
    width: 50%;
}

.healthcare{
    width: 96vw;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nhs-logo{
    padding: 100px;
    width: 40%;
    height: auto;
}

.healthcare-info{
    width: 50%;
    padding: 30px;
    text-align: center;
}

.healthcare-info p {
    padding-top: 30px;
}

@media (max-width: 752px){
    .vid-section{
        flex-direction: column;
        width: 100%;
    }
    .vid-info, .video{
        width: 98%;
    }
    .nhs-logo{
        padding: 10px;
        width: 80%;
    }
    .healthcare{
        flex-direction: column;
    }
    .healthcare-info{
        width: 100%;
        padding: 5px;
    }
}