.page{
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.menu-padding{
    width: 100vw;
    height: 100px;
}

header{
    width: 100%;
}

.page-content{
    width: 100%;
}

footer{
    width: 100%;
}