<div class="container">
    <div class="certificate">
        <carousel class="carousel"
            [images]="images" [loop]="true" [autoplay]="false" [height]="120" [cellWidth]="120" [margin]="40" [cellsToScroll]="1">
         </carousel>
    </div>
    <div class="info">
        <div class="logo">
            <img src="../../assets/images/logo.svg" alt="logo">
        </div>
        <div class="location">
            <h3>Head Office</h3>
            <p>E-Sign (UK) ltd, 5th floor, Horton House,</p>
            <p>Exchange Flags, Liverpool, L2 3PF</p>
            <p>E-Sign UK Ltd. © 2021</p>
            <p>(+44) 0330 057 3001</p>
            <p>Company No. 7937425 | VAT No. 157595663 |</p>
            <p>U.S patent no: PCT/US14/39888 Trade Mark No:</p>
            <p>UK00003029887</p>
        </div>
        <div class="location">
            <h3>Isle of Man Office</h3>
            <p>2nd floor, Nadine House, North Quay, Douglas, IOM,</p>
            <p>IM1 4LE E-Sign UK Ltd. © 2021 Company Registration</p>
            <p>Number: 130978C</p>
        </div>
    </div>
    <div class="bottom">
        <div class="socials">
            <img src="../../assets/svg/twitter.svg" alt="twitter">
            <img src="../../assets/svg/facebook.svg" alt="facebook.svg">
            <img src="../../assets/svg/youtube.svg" alt="youtube.svg">
        </div>
        <div class="text">
            <div class="copyright">
                <p>© Copyright E-Sign 2021. All Rights Reserved.</p>
            </div>
            <div class="privacy">
                <p>Terms of Use</p>
                <p>Privacy</p>
            </div>
        </div>
    </div>

</div>