<div class="content">
    <div class="top-title">
        <div class="text">
            <h1 class="title">Powerful Agreement Automation with E-Sign</h1>
            <p>Keep Your Business Moving Forward With a Leading Secure Electronic Signature System.</p>
            <button>Learn more</button>
        </div>
        <div class="svg-container">
            <img src="../../assets/images/e-sign-workflow-diagram.svg" alt="">
    
        </div>
    </div>

    <app-my-carousel></app-my-carousel>

</div>

