<div class="main">
    <div class="img-container">
        <img src="../../assets/images/psn.svg" alt="psn compliant">
    </div>
    <div class="info">
        <h1>The Only Trusted Digital Signature Provider on the Public Service Network</h1><br>
        <p>
            E-Sign is the only electronic signature provider trusted on the Public Service Network. The PSN is the UK Government’s high-performance network, which enables public sector organisations to work together, reduce duplication and share resources.<br><br>
            Government organisations and health trusts access the PSN for secure and trusted digital services, that meet strict regulatory requirements and provide assurance that the service they access has the highest security standards, is exceptionally reliable, and can address issues within a rapid timeframe.<br><br>
            With the rapidly growing digitisation of document management and cloud-based solutions, the need for trustworthy providers has never been more important. The E-Sign document management and electronic signature solution provides businesses with improved efficiencies and major cost savings, creating enhanced advantages over competitors.
        </p>
    </div>
</div>
